asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
djoser
idna
itypes
Jinja2
MarkupSafe
oauthlib
Pillow
pycparser
PyJWT
pymongo
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
