body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #7d7d7d;
}

a, a:visited, a:hover {
  list-style: none;
  text-decoration: none;
}

.auth-container {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 30px 5px #555;
          box-shadow: 0 0 30px 5px #555;
}

.flex-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 1rem;
}

.flex-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 1rem;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bd-bottom {
  border-bottom: 1px solid #7d7d7d;
}

.box {
  height: 30rem;
  width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.box .signup-box, .box .signin-box {
  background: #f57575;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 1rem;
}

.box .signin-box {
  background: red;
  border-radius: 15px 0 0 15px;
}

.box .signup-box {
  border-radius: 0 15px 15px 0;
}

.user-page .container {
  width: 70rem;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 40rem;
}

.edit-and-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  padding: 0.8rem;
  background-color: #fcfcfc;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.user-det {
  margin: 0 3rem;
  width: 70%;
}

.user-details {
  color: #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 2rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.center-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.user-details .btn {
  width: 7rem;
}

.user-details-2 {
  color: #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 4rem;
  padding-top: 2.5rem;
}

.primary-color {
  color: #7d7d7d;
}

.section-100 {
  padding: 100px 0;
}

.blog-card {
  -webkit-box-shadow: 0 12px 17px rgba(129, 140, 151, 0.1);
          box-shadow: 0 12px 17px rgba(129, 140, 151, 0.1);
}

.blog-card .blog-image {
  width: 50%;
  height: auto;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .blog-card .blog-image {
    max-height: 250px;
    width: 100%;
  }
}

.blog-card .blog-image .blog-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .blog-card .blog-image .blog-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.blog-card .blog-container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 85px !important;
}

.blog-card .blog-container a:hover {
  text-decoration: none;
  color: #646464;
}

.blog-card .blog-container .blog-category {
  background: rgba(40, 167, 69, 0.1);
  color: #28a745;
}

.blog-card .blog-container .blog-author {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

.blog-card .blog-container .blog-footer {
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */


.logo-underline {
  height: 1rem;
  width: 5rem;
  border: solid 3px #f0ad4e;
  border-radius: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  position: absolute;
  left: 2.5rem;
  top: 1.5rem;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
}

.home-container {
  min-height: 160vh;
  background-color: #333446;
  background-repeat: repeat;
  background-size: 100%;
  padding: 3em 0;
  color: #ffffff;
}

.carousel-container {
  background-color: #efefef;
  margin-bottom: 3rem;
  max-height: 30em;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333446;
}

.carousel-inner {
  width: 93%;
  position: relative;
  border-radius: 5px;
  height: auto;
}

.carousel-item img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.my-container {
  width: 70rem;
  padding: 2rem 5rem;
  background-color: #efefef;
  color: #333446;
  min-height: 30rem;
}

.trending-section {
  background-color: #efefef;
  padding: 2rem;
}

.trending-section h3 {
  color: #121212;
  text-transform: uppercase;
  border-bottom: 1px solid #7d7d7d;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-container {
  position: relative;
  height: 15rem;
}

.big-img-container {
  max-height: 30rem;
  position: relative;
}

.big-img-container img {
  max-height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-card .card {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 0 10px 1px #ddd;
          box-shadow: 0 0 10px 1px #ddd;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.event-card .card a, .event-card .card a:visited {
  text-decoration: none;
  color: #121212;
}

.event-card .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  height: 100%;
}

.event-card .card:hover {
  -webkit-box-shadow: 0 0 20px 5px #bbb;
          box-shadow: 0 0 20px 5px #bbb;
}

.card-body {
  text-align: left;
  padding: 1rem;
}

/* ########################## all events ############################## */
.all-events {
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.welcome-page {
  height: 70vh;
}

.welcome-page img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bg-secon {
  background: url("../components/images/bg2.png");
  background-size: 40%;
  background-repeat: repeat;
}