@import 'variables';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7d7d7d;
}

a,a:visited,a:hover{
    list-style: none;
    text-decoration: none;
}

.auth-container{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 15px;
    box-shadow: $shadow;
}

.flex-h{
    display: flex;
    flex-flow: row wrap;
    // border: 1px solid blue;
    margin: 0 1rem;
}

.flex-v{
    display: flex;
    flex-flow: column wrap;
    margin: 0 1rem;
}

.flex-center{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}

.bd-bottom{
    border-bottom: 1px solid #7d7d7d;
}


@import 'auth';
@import 'profile';
@import 'media';